<!DOCTYPE html>
{% extends "home.html"%}
{% block title %}Members{% endblock %}

{% block head%}
  {{ super() }}
{% endblock%}

{% block page_content%}
  <!-- Page Content -->
  <div style="text-align: center;" class="container">
    <h1 style="padding-top: 50px;" class="mt-5"><i class="fa fa-address-card-o" aria-hidden="true"></i> MEMBERS</h1>

    <p>Developed By: <a id="developer1" href="https://github.com/MightyKoba" data-toggle="tooltip" data-placement="top" title="University of Delaware Junior" target="_blank">Ernest Nguatem</a>.</p>
    <p>Developed By: <a id="developer2" href="https://github.com/afecondo" data-toggle="tooltip" data-placement="top" title="University of Delaware Junior" target="_blank">Anthony Fecondo</a>.</p>
    <p>Developed By: <a id="developer3" href="https://github.com/bmunce" data-toggle="tooltip" data-placement="top" title="University of Delaware Junior" target="_blank">Brandon Munce</a>.</p>

  </div>
{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()

  });
  </script>
{% endblock%}
